@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using BlazorLogin.Client.Extensiones;
@inject AuthenticationStateProvider autenticacionProvider
@inject NavigationManager Navigation
@using AppCountries.Utils

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="">AppCountries</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<!-- Perfil de usuario -->
<div class="user-profile-container px-3 py-2 d-flex align-items-center">
    <img src="/images/profile.jpg" alt="User Photo" class="rounded-circle" width="50" height="50" />
    <AuthorizeView>
        <Authorized>
            <div class="ms-2">
                <p class="mb-0 text-white">@context.User.Identity!.Name</p>
                <p class="mb-0 text-white">@Locality</p>
            </div>
        </Authorized>
    </AuthorizeView>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <!-- Agregar más elementos del menú aquí -->
        <!-- Botón de cerrar sesión -->
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3 mt-auto">
                    <button class="btn btn-link text-white" @onclick="CerrarSesion">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Cerrar sesión
                    </button>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string Locality = string.Empty;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
        Locality = await autenticacionExt.ObtenerLocalidadAsync();
        string continenteEspanol = Utils.TraducirContinente(Locality);
        Locality = continenteEspanol;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task CerrarSesion()
    {
        var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
        await autenticacionExt.ActualizarEstadoAutenticacion(null); // Elimina la sesión
        Navigation.NavigateTo("/", true); // Redirige a la página de login
    }
}
